.img1 {
  display: block;
}
@media only screen and (max-width: 1200px) {
  .img1 {
    display: none;
  }
}

.img2 {
  display: none;
}

@media only screen and (min-width: 1101px) and (max-width: 1200px) {
  .img2 {
    display: block;
  }
}

.img3 {
  display: none;
}

@media only screen and (min-width: 1001px) and (max-width: 1100px) {
  .img3 {
    display: block;
  }
}

.img4 {
  display: none;
}

@media only screen and (min-width: 901px) and (max-width: 1000px) {
  .img4 {
    display: block;
  }
}

.img5 {
  display: none;
}

@media only screen and (min-width: 801px) and (max-width: 900px) {
  .img5 {
    display: block;
  }
}

.img6 {
  display: none;
}

@media only screen and (min-width: 701px) and (max-width: 800px) {
  .img6 {
    display: block;
  }
}

.img7 {
  display: none;
}

@media only screen and (min-width: 601px) and (max-width: 700px) {
  .img7 {
    display: block;
  }
}

.img8 {
  display: none;
}

@media only screen and (min-width: 501px) and (max-width: 600px) {
  .img8 {
    display: block;
  }
}

.img9 {
  display: none;
}
@media only screen and (min-width: 401px) and(max-width: 500px) {
  .img9 {
    display: block;
  }
}
.img10 {
  display: none;
}
@media only screen and (max-width: 400px) {
  .img10 {
    display: block;
  }
}
