@media screen and (max-width: 600px){
    .styles{
        display: block;
        margin-right: 50%;
        margin-bottom: 100%;
        width: 50%;
    }
}
@media screen and (min-width: 801px) and (max-width: 1000px){
    .styles{
        position: block;
        margin-right: 50%;
        margin-top: 100%;
        width: 50%;
    }
}
@media screen and (min-width: 1001px) and (max-width: 1200px){
    .styles{
        position: block;
        margin-left: 50%;
        margin-top: 100%;
        width: 50%;
    }
}
@media screen and (min-width: 1201px) and (max-width: 1400px){
    .styles{
        position: block;
        margin-right: 50%;
        margin-top: 100%;
        /* padding-right: 50%;
        padding-top: 100%; */
        width: 50%;
    }
}
@media screen and (min-width: 1401px) and (max-width: 1600px){
    .styles{
        position: block;
        margin-left: 50%;
        margin-bottom: 100%;
        width: 50%;
    }
}
@media screen and (min-width: 1601px){
    .styles{
        display: block;
        margin-left: auto;
        margin-right: 50%;
        margin-bottom: 100%;
        width: 50%;
    }
}